body{
    
    background-color: burlywood;
    margin: auto;
    width: 1000px;
    position: relative;
    background-image: url(assets/bg.jpg);
    
}

.sk{

    justify-content: center;
}

section{
    display: flex;
    position: relative;
    align-self: center;
    justify-content: center;
}

.top-boxes { 
    display: flex;
    height: 20px;
    width: 170px;
    background-color: crimson;
    margin: 10px;
    flex-direction: row;
    
}
   
.words{
    display: flex;
    align-items:  center;
    color: white;
    
    
    
}
    



.idk{
    display: flex;
    justify-content: center;
    

}

.upper-image{
    background-image: url(./assets/top-image.png);
    background-size: 100%;
    width: 500px;
    height: 150px;
    
    
    
}

.peralta{
    height: 100px;
    
}











.my-button{
    display: flex;
 justify-content: center;
}

.read-more{

    background-color: violet;
    height: 25px;
    width: 25px;
}

.boxes{
    display: flex;
   justify-content: center;
}
.topics{
    display: flex;
    position: relative;
    width: fit-content;
    margin: 10px;
    text-align: start;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;

}

.skateborders{
    display: flex;

    
}

.talent{
    display: flex;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.one{

    width: 260px;
    
}

.two{

    width: 260px;
}

.three{

    width: 260px;
}

.four{

    width: 540px;
    padding-right: 300px;
    margin: 10px;
    
}

.boardbox{

    display: flex;
    height: 250px;
    justify-content: center;

}

.boardselection{
    display: flex;
    width: 1000px;
    background-color: white;
    justify-content: space-evenly;
    
   

   
}

.contact-information{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
   
}

.input-boxes{

    justify-content: flex-end;
    margin: 20px;
}

.contact-list{

    margin: 20px;
}